/* This can be modified to give the pages different styles */

body {
  background-color: #1A1A1A;
}

div {
  color: white;
}

p {
  color: white;
}

td {
  color: white;
  max-width: 500px;
  word-wrap: break-word;
}

h1 {
  color: white;
}

button {
  background-color: #1A1A1A;
  color: white;
}

a {
  color: #0099FF;
}

div.scrollable {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 700px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
